aiohttp
alive-progress
chart-studio
cvxpy
dicom-anonymizer
DicomAnonymizer
efficientnet-pytorch
flake8
ipympl
jupyter
jupyter-contrib-nbextensions
jupyterthemes
k3d
manim
mmdnn
nibabel
nifty
nodejs-bin
numba
numpy-stl
open3d
openpyxl
pip
pipdeptree
pkg_resources
psutil
pylibjpeg
pylibjpeg-libjpeg
pynrrd
PyOpenGL
PyOpenGL-accelerate
PyQt5
pyqtgraph
pytest-json-report
pytest-mock
pytorch-lightning
PyWavefront
scikit-image
selenium
snakeviz
tensorflow
tensorflow-gpu
tk
torch-tb-profiler
torchviz
trimesh
vtk
xlrd
